[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
open3d = "*"
pyqt5 = "*"
laspy = {extras = ["laszip"], version = "*"}
laszip = "*"
fastapi = "*"
aiofiles = "*"
sionna = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
trimesh = "*"
pyembree = "*"
pymeshlab = "*"
pyrender = "*"
httpx = "*"
uvicorn = {extras = ["standard"], version = "*"}
embreex = "*"
cupy-cuda12x = "*"

[dev-packages]
