[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
open3d = "*"
pyqt5 = "*"
laspy = {extras = ["laszip"], version = "*"}
laszip = "*"

[dev-packages]

[requires]
python_version = "3.12"
